/* General Styles */
html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Century Gothic', sans-serif;
  background-image: linear-gradient(to bottom, #9b4f4f, #703939);
}

body {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  color: #ccbdbd;
}

/* Animations */
@keyframes flipover {
  0% {
    top: -10px;
    transform: scaleX(0.001);
  }
  100% {
    top: 0;
    transform: scaleX(1);
  }
}

@keyframes accordion {
  0% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes contract {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes expand {
  0% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slideright {
  0% {
    left: -80px;
    transform: scaleX(0.001);
  }
  1
