/* Set the minimum height of the body to 0px */
body {
  min-height: 0px;
}

/* Display the elements as block-level elements */
#bg,
#vignette-left,
#vignette-right,
#vignette-bottom,
#umbrella {
  display: block;
}

/* Style the #upgrade container */
#upgrade {
  display: block;
  width: 623px;
  margin: 40px auto;
  padding-top: 40px;
}

/* Style the #upgrade-header background image */
#upgrade-header {
  background: url(../images/page/upgrade-js.png);
  width: 439px;
  height: 444px;
  margin: 0px auto;
}

/* Hide the .video, .magasin, #game_top, and #upgrade-button elements */
.video,
.magasin,
#game_top,
#upgrade-button {
  display: none;
}

/* Display the .content_old_ie element */
.content_old_ie {
  display: block;
}

/* Hide the #lsWarning element */
#lsWarning {
  display: none;
}
