@font-face {
  font-family: 'BebasNeueRegular';
  src: local('BebasNeueRegular'),
       url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       url('BebasNeue-webfont.woff2') format('woff2'),
       url('BebasNeue-webfont.woff') format('woff'),
       url('BebasNeue-webfont.ttf') format('truetype'),
       url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-variant-east-asian: full-width;
  font-feature-settings: "liga" on;
  unicode-range: U+000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF;
}
